body {
  background-color:lavender;
}
#game-descript{
  text-align: center;
}
.start-page{
  text-align: center;
}
#start-button{
  display: block;
  margin: 0 auto;
}
.time{
  text-align: center;
}
#correct-answer{
  text-align: center;
}
#questionAnswer{
  display: block;
  margin: 0 auto;
  width: 50%;
}
#question-body{
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 50%;
}
#answer{
  display: block;
  margin: 0 auto;
}