body {
  background-color:lavender;
}

.game-descript{
  text-align: center;
}
.simple{
  text-align: center;
}
.timed{
  text-align: center;
}
#start{
  display: block;
  margin: 0 auto;
}
.time{
  text-align: center;
}